/* Variables de colores */
:root {
    --color-fondo: #f4f7fa;
    --color-principal: midnightblue;
    --color-hover: #eeee22;
    --color-texto: white;
    --color-sombra: rgba(0, 0, 0, 0.25);
    --color-sombra-intensa: rgba(0, 0, 0, 0.1);
    --color-gris-claro: lightgray;
    --color-gris: black;
    --color-boton-fondo: #f4f7fa;
    --color-boton-texto: midnightblue;
}
