/* Definir variables globales para los colores y otros valores comunes */
:root {
  --color-fondo: #f4f7fa;
  --color-principal: midnightblue;
  --color-secundario: royalblue;
  --color-texto: white;
  --color-hover: #f4f7fa;
  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-shadow-hover: rgba(0, 0, 0, 0.2);
  --font-size-titulo: 36px;
  --font-size-subtitulo: 24px;
  --font-size-parrafo: 16px;
  --font-size-small: 18px;
  --font-size-large: 28px;
  --border-radius: 10px;
  --box-shadow: 0 4px 8px;
  --box-shadow-hover: 0 8px 15px;
  --padding: 20px;
  --margin-top: 50px;
  --padding-small: 10px;
  --padding-large: 30px;
  --border-radius-large: 15px;
}

/*  --------------------------------------------- RESEÑAS ---------------------------------------------------- */

#reseñas {
  margin-bottom: var(--padding-large);
  text-align: center;
  padding: var(--padding-large);
}

#subtexto-etiquetas-reseñas {
  font-size: var(--font-size-subtitulo);
  margin-bottom: var(--padding-small);
}

/* Contenedor de las etiquetas de reseñas */
#etiquetas {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--padding-large);
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  justify-content: center; /* Centra las etiquetas dentro del grid */
  cursor: pointer;
  margin-top: var(--margin-top);
}

/* Estilo para cada etiqueta de reseña */
#etiqueta-reseñas {
  background-color: var(--color-principal);
  padding: var(--padding-small);
  border-radius: var(--border-radius-large);
  box-shadow: var(--box-shadow);
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

#etiqueta-reseñas img {
  border-radius: 50%;
  margin-bottom: var(--padding-small);
  width: 200px;
  height: 150px;
  transition: transform 0.3s ease;
}

#etiqueta-reseñas p {
  font-size: var(--font-size-parrafo);
  margin: 5px 0;
  color: var(--color-texto);
  transition: color 0.3s ease;
}

#etiqueta-reseñas h3 {
  font-size: var(--font-size-small);
  margin: 10px 0;
  color: var(--color-texto);
}

/* Hover para las etiquetas de reseñas */
#etiqueta-reseñas:hover {
  transform: scale(1.05);
  background-color: var(--color-secundario);
  box-shadow: var(--box-shadow-hover);
}

#etiqueta-reseñas:hover img {
  transform: scale(1.1);
}

#etiqueta-reseñas:hover p {
  color: var(--color-hover);
}

/* -------------------------------- IMG RESEÑAS ------------------------------------- */

#img-reseñas img {
    display: block;
    margin: var(--margin-top) auto 0 auto;
    transition: transform 0.6s ease 0s;
}

#img-reseñas img:hover {
    transform: rotate(-360deg) scale(1.1);
    transition: transform 1.2s ease 0s;
}

/* -------------------------------- ENCABEZADO RESEÑAS ----------------------------------- */

#encabezado-reseñas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto var(--padding-large) auto;
    padding: var(--padding);
    background-color: var(--color-principal);
    color: var(--color-texto);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    max-width: 800px;
    margin-top: var(--margin-top);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#encabezado-reseñas:hover {
    transform: scale(1.05);
    box-shadow: var(--box-shadow-hover);
    color: var(--color-hover);
}

#titulo-reseñas {
    font-size: var(--font-size-titulo);
    margin-bottom: 15px;
    color: var(--color-principal);
    text-align: center;
    font-weight: bold;
    margin-top: var(--margin-top);
}

#encabezado-reseñas p {
    font-size: var(--font-size-small);
    line-height: 1.6;
    margin: 0;
    color: var(--color-texto);
    transform: color 0.3s ease;
}

#encabezado-reseñas p:hover {
    color: var(--color-hover);
}

/* Responsive styles for encabezado-reseñas */
@media (max-width: 768px) {
    #encabezado-reseñas {
        padding: var(--padding-small);
    }

    #titulo-reseñas {
        font-size: var(--font-size-large);
    }

    #encabezado-reseñas p {
        font-size: var(--font-size-parrafo);
    }
}

/* --------------------------------------- BOTÓN CONTACTAR ---------------------------------- */

#boton-contactar {
    display: block;
    padding: var(--padding-small) var(--padding);
    background-color: var(--color-principal);
    color: var(--color-texto);
    font-size: var(--font-size-small);
    font-weight: bold;
    text-decoration: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
    width: fit-content;
    margin: var(--padding-large) auto;
    text-align: center;
    margin-top: var(--margin-top);
}

#boton-contactar:hover {
    transform: scale(1.05);
    box-shadow: var(--box-shadow-hover);
    color: var(--color-hover);
}
