:root {
    /* Fuentes */
    --font-primary-family: "Roboto", sans-serif;
    --font-primary-weight: 400;
    --font-primary-style: normal;
    --font-optical-sizing: auto;
    --font-variation: "wdth" 100;
  
    /* Colores */
    --color-bg-light: #f4f7fa;
    --color-bg-dark: midnightblue;
    --color-hover: #eeee22;
    --color-hover-light: #f4f7fa;
    --color-text: white;
    --color-text-secondary: black;
  
    /* Bordes y sombras */
    --border-radius-small: 5px;
    --border-radius-medium: 10px;
    --border-radius-large: 15px;
    --shadow-light: 0 4px 8px rgba(0, 0, 0, 0.1);
    --shadow-medium: 0 6px 12px rgba(0, 0, 0, 0.2);
    --shadow-heavy: 0 8px 15px rgba(0, 0, 0, 0.2);
  
    /* Transiciones */
    --transition-speed: 0.3s;
  }