:root {
  /* COLORES */
  --color-principal: #f4f7fa; 
  --color-texto: midnightblue; 
  --color-hover: midnightblue; 
  --color-sombra: rgba(0, 0, 0, 0.2); 
  --color-sombra-intensa: rgba(0, 0, 0, 0.8); 
  --color-fondo: #ffffff; 
  --color-gris: gray; 
  --color-gris-claro: #888888; 
  --color-fondo-sobre-nosotros: #f4f7fa; 
  --color-boton: midnightblue; 
  --color-boton-texto: midnightblue; 
  
  /* FUENTES */
  --fuente-principal: "Roboto", sans-serif; 
}